<!-- TODO: EJS partial contains just a <section> to render details of a single book
  - reusable book component
  - use same partial to refactor index.ejs so books look the same wherever they are displayed in the app

  - user should be able to return to main list of all books aka HOME -->

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>DETAIL VIEW</title>
</head>
<body>

  <%- include('../layout/header.ejs') %>

  <div>
    <img src=<%= .image_url%>>
    <h1><%= .title %></h1>
    <h2><%= .author %></h2>
    <p><%= .description %></p>
    <p>ISBN: <%= .isbn %></p>
  </div>
  

</body>
</html>

